*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;  
}
.my-nav{
    background: rgb(62, 223, 62);
    
}
.links{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
nav.my-nav ul li a.nav-link {
    color: white;
}
nav.my-nav ul li a.nav-link:hover {
    color: black;
    font-weight: bold;
}
.navbar-toggler{
padding: .25rem .75rem;
font-size: 0.8rem;
line-height: 0.5;
background-color: #e3d5d5;
border: 1px solid #0b0b0b;
border-radius: .25rem;
transition: box-shadow .15s ease-in-out;
}
.fit-content{
    width: fit-content;
}
/* banner-section */
.banner{
    background-color: green;
}
.inner-content{
    background: rgb(64, 180, 64);
    /* opacity: 0.8; */
    border-radius: 20px;
    color: white;
}
.btn{
    color: white;
    background: #a1a1a1;  
    padding: -20px; 
}
.input-btn{
    padding: 0 80px;
     /* width: 50%; */
}
/* about-section start */
.card{
    border-radius: 20px;
    /* padding: 15px; */
    /* box-shadow: 10px 10px rgb(235, 229, 229); */
    box-shadow: 0px 0px 5px 3px rgb(235, 229, 229);
    aspect-ratio: 2/2;
}
.card-body p{
    font-size: 13px;
    display: inline;
}
.card:hover{
   transform: scale(1.1);
}
/* Meet our Team */
.Meet-our-team{
    margin-top: 70px;
}
.btn{
    background: blue;
}
/* teacher-card ,teacher info */
.card2{
    border-radius: 20px;
    padding: 10px;
    /* box-shadow: 10px 10px rgb(235, 229, 229); */
    box-shadow: 0px 0px 5px 3px rgb(235, 229, 229);
}
.meet-text-content{
    align-self: center;
}
/* NEET Achivers */
.btn-1{
    background: #0b0b0b;
    color: #fff;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-body{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Achivers-text-content{
    align-self: center;
}

/* our-class-section */

/* why pracbee */

.why-inner-text h4{
    font-size: 25px;
    margin-bottom: 15px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(40)infinite;
    color: blue;
    
}
.why-inner-text p{
    background: linear-gradient(to right,rgb(21, 101, 175),white);
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
        
    }
}

.why-inner-text-2 h4{
    /* margin-left: 20px; */
    font-size: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(40)infinite;
    color: rgb(0, 255, 21);
}
.why-inner-text-2 p{
    background: linear-gradient(to right,rgb(48, 219, 14),white); 
    /* margin-left: 20px; */
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
        
    }
}
.asked-question{
    margin-top: 70px;
}
/* footer section start*/
.footer{
    margin-top: 50px;
    background-color: #ebfaed;
}
.footer-h2{
    color: blue;
}
.web-last-text{
    text-align: center;
    padding-top: 55px;
    padding-bottom: 15px;
    
}
/* media query */
